
<!--/start-footer-->
<div class="copy-right-section">
    <div class="container">
        <div class="col-md-6 copy-right">
            <p>Thiết kế bởi t3h - alphatek</p>
        </div>
        <div class="col-md-6 social-icons">
            <ul class="soc_icons2">
                <li><a href="#"><i class="icon_4"></i></a></li>
                <li><a href="#"><i class="icon_5"></i></a></li>
                <li><a href="#"><i class="icon_6"></i></a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//End-footer-->