
@{
    ViewBag.Title = "TestDienMayLayout";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
}

<div class="container-fluid">
    <h2 class="h2Green">Test - DienMayLayout</h2>
    <img class="imgw600" src="/photos/114.jpg" />
</div>
@section styles{
    <style type="text/css">
        .h2Green {color:green;}
        imgw600 {width:600px;}
    </style>
}
