@model DienMayws.Models.HoaDon
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
}

<h2>Thông báo</h2>
<h3>
    Đơn đặt hàng của bạn đã hoàn tất.<br/>
    Số hóa đơn: @Model.HoaDonID
</h3>


